<div class = "container">
  <!-- <h1>Listing users</h1> -->
      <div id="masonry-container" class="store-container infinite-scroll">
        <% @users.each do |user| %>
          <%= link_to user do %>
            <div class="item box small-2 large-4 columns">
              <%= image_tag user.pic %>
              <div class="art-label">
                <%= user.name %>
                <div class="artist">by
                  <% if user.name != nil %>
                    <%= user.name %>
                  <% else %>
                    Anonymous
                  <% end %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
  </div>