<div class="container">
	<div class="user-wallpaper">
		<% if flash[:alert] %>
		    <div class="notice"><%= flash[:alert] %> <%= @user.email %></div>
	 	<% end %>

		<% if current_user == @user %>
			<%= render 'profile' %>
		<% else %>
			<%= render 'other_user' %>
		<% end %>
		
		</div>
	</div>
</div>
