<div class="wallpaper-login">
<div class="container">
	<div class="form">
		<div class="title">Upload New Work</div>

<%= render 'form' %>

	</div>
</div>
</div>

<div class="back-link">&larr; <%= link_to 'Back to Browsing', items_path %></div>
