@import "compass/css3";

.right {
	padding-right: 5px;
}

#signup {
	background-color: transparentize(green, .1);

	&:hover {
		background-color: #008cba;
	}
}

.wallpaper {
	position: relative;
	height: 93vh;
	background: url("SimoneAnne-6292.jpg") no-repeat;
	background-size: cover;
}

.container {
	width: 90%;
	//max-width: 960px;
	margin: 0 auto;
}

.footer {
	font-size: 8pt;
	position: fixed;
	top: 89vh;
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
	border-top: 2px solid transparentize(gray, .3);
	padding: 5px;
	background: transparentize(gray, .6);
	height: 8vh;
	font-size: 10pt;
	text-align: center;
}

.links {
	font-size: 10pt;
}