@import "compass/css3";

.welcome {
	position: fixed;
	right: 0;
	width: 175px;
	margin-top: 65px;
	margin-right: 15px;
	padding: 6px;
	color: white;
	background-color: transparentize(green, .5);
	box-shadow: 0px 0px 4px black;
	border-radius: 2px;
	display: none;
	
}

//popular artists "row"
.bar2 {
	position: relative;
	height: 400px;
	background: lightgray;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

.headshots {
	width: 1000px;
	position: relative;
	margin: 0 auto;
}

.popular {
	position: relative;
	float: left;
	height: 100px;
	width: 100px;
	border-radius: 50px;
	background: white;
	margin: 75px;
}

.right {
	padding-right: 5px;
}

#signup {
	background-color: transparentize(green, .1);

	&:hover {
		background-color: #008cba;
	}
}

.wallpaper {
	position: relative;
	height: 500px;
	background: url("SimoneAnne-6292.jpg") no-repeat;
	background-size: cover;
}

.container {
	width: 90%;
	margin: 0 auto;
}

.footer {
	font-size: 8pt;
	position: fixed;
	top: 89vh;
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
	border-top: 2px solid transparentize(gray, .3);
	padding: 5px;
	background: transparentize(gray, .6);
	height: 8vh;
	font-size: 10pt;
	text-align: center;
}

.arrow {
	display: none;
	@include rotate(-20deg);
	position: fixed;
	width: 80px;
	right: 70px;
	top: 40px;
}

.links {
	font-size: 10pt;
}