@import url(http://fonts.googleapis.com/css?family=Over+the+Rainbow);

$dkgray: #bbbbbb;
$ltgray: #d5d5d5;
$coreblue: #7da6c7;
$midblue: #5a8db6;
$dkblue: #457399;
$formcolor:transparentize(white, .4);

.form {
	padding: 10px;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	position: relative;
	top: 80px !important;
	width: 350px;
	margin: 0 auto;
	box-shadow: 0px 0px 4px black;
	border-radius: 2px;
	background: $formcolor;
	font-family: 'Alegreya Sans SC', sans-serif;
	line-height: 20px;
	font-size: 12pt;
	font-weight: 300;

	.title {
		position: static;
	}

	.forgot {
		float: right;
		font-size: 10.5pt;
		margin-right: 35px;
	}

	.signup {
		float: left;
		font-size: 10.5pt;
		margin-left: 35px;
	}

	.signin {
		@extend .signup;
		float: right !important;
		margin-right: 30px;
		margin-top: 9px;
		margin-left: 0px;
	}

	a {
		&:hover {
			background-color: transparentize($formcolor, 1);
			color: $dkblue;
		}
	}
}

.hello-world {
	padding: 10px;
	margin-bottom: 20px;
}

.email-list {
	font-family: 'Over the Rainbow', cursive;
	transition: 200ms;
	line-height: 6px;
	display: block;
	margin: 0 auto;
	border: 1px solid gray;
	width: 200px;
	background: $midblue;
	font-size: 12pt;
	height: 40px;
	color: white;

	&:hover {
		background: $dkblue;
	}
}

.email-form {
	@extend .form;
	height: 375px;
	top: 50px;
}

.email, .password {
	display: block;
	width: 80%;
	margin: 0 auto;
	font-family: 'Alegreya Sans SC', sans-serif;

	input {
		font-family: 'Alegreya Sans', sans-serif;
	}
	

}

label {
	position: relative;
	width: 100%;
	text-align: center;
}

.login {
	position: relative;
	margin: 0 auto;
	margin-left: 35px;
	width: 20%;
}

.remember {
	position: relative;
	float: right;
	margin-right: 5%;
	margin-top: 5px;
	margin-bottom: 5px;

	input {
		position: relative;
		float: left;
		top: 3px;
	}

	label {
		float: left;
		width: 80px;
	}
}

i {
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #008cba;
	width: 100%;
	font-size: 50pt;
	text-align: center;
}