$dkgray: #bbbbbb;
$ltgray: #d5d5d5;
$coreblue: #7da6c7;
$midblue: #5a8db6;
$dkblue: #457399;

.map {
	width: 320px;
	height: 320px;
	position: absolute;
	background: #CCC;
	top: 280px;
	left: 0px;
	margin: 20px;
	transition: 200ms;
}

.map-info-container {
	a:hover {
		background: transparent;
		text-decoration: none;
	}
}