// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$dkgray: #bbbbbb;
$ltgray: #d5d5d5;
$coreblue: #7da6c7;
$midblue: #5a8db6;
$dkblue: #457399;

.user-wallpaper {
	@extend .wallpaper;
	background: url('SimoneAnne-0023.jpg');
	background-position: cover;
	height: 93vh;
}

.gravatar {	
	display: block;
	position: relative;
	margin: 0 auto;
	margin-bottom: 15px;
	
	img {
		border: 1px solid black;
	}

}

.user-name {
	font-weight: bold;
}

.user-email {
	position: relative;
	float: left;
	margin-bottom: 10px;

	a:hover {
		text-decoration: none;
		background: transparent;
		color: $dkblue;
	}

}

.interests {
	float: left;
	width: 100px;
	font-size: 10pt;
}

.other_user {
	padding: 20px 20px;
	position: relative;
	top: 80px !important;
	width: 320px;
	margin: 0 auto;
	background: white;
	border: 1px solid black;
	font-family: 'Alegreya Sans SC', sans-serif;
	line-height: 20px;
	font-size: 12pt;
	font-weight: 300;
	height: 230px;

	img {
		position: relative;
		height: 120px;
		width: 120px;
		float: left;
		margin-right: 10px;
		margin-bottom: 5px;
		overflow: hidden;
		border-radius: 100px !important;
		border: 1px solid $dkgray;
	}
}


.profile {
	@extend .other_user;
	float: left;
	margin: 20px;
	height: 225px;
	top: 0px !important;
}

.stats {
	position: relative;
	width: 100%;
	float: left;
	margin: 0 auto;
	height: 40px;
	padding: 0px;
	display: block;

	div a {
		font-size: 12pt;
		float: left;
		color: $dkgray;
		
		&:hover {
			color: $dkblue;
			background: transparent;
			text-shadow: 0 0 1px $dkgray;

			strong {
				color: black;
				text-shadow: none;
			}
		}
	}
}

	#followers a {
		margin: 0 47px;
	}

.new_relationship {
	position: relative;
	width: 100%;
	bottom: -10px;
	height: 30px;
}

.follow-button {
	position: relative;
	font-family: 'Over the Rainbow', cursive;
	transition: 200ms;
	bottom: -70px;
	left: -54px;
	line-height: 12px;
	display: block;
	margin: 0 auto;
	padding: 0 !important;
	border: 1px solid gray;
	width: 80px;
	font-size: 12pt;
	height: 30px;
	color: white;
}

.location-input {
	position: relative;
	margin: 10px 0 20px 0 !important;
	width: 180px !important;
}

//following users updates

.following-updates {
	padding: 20px;
	width: 600px;
	max-width: 50%;
	height: 553px;
	margin: 20px 20px 20px 0;
	position: absolute;
	left: 360px;
	background: white;
	border: 1px solid black;
	overflow: hidden;
}

.followed-user {
	margin-bottom: 10px;
	a:hover {
		background: transparent;
		text-shadow: 0 0 1px $dkgray;
		color: $dkblue;
	}
}

.follow-icon {
	display: inline;


	img {
		border: 1px solid $dkgray;
		border-radius: 25px;
		width: 50px;
		height: 50px !important;
	}
}

