<%- if user_signed_in? %>
<div class="footer">
	HighSchoolArt.com is a production of Hourglass Design
	<div class="links">
		Thanks to the folks at <%= link_to 'Death to Stock', "http://deathtothestockphoto.com/" %> for beautiful backgrounds!
	</div>

	<%- else %>
	<div class="clear-footer">
	HighSchoolArt.com is a production of Hourglass Design
	<div class="links">
		Thanks to the folks at <%= link_to 'Death to Stock', "http://deathtothestockphoto.com/" %> for beautiful backgrounds!
		</div>
	</div>
<% end -%>