<div class="footer">
	GalleryEighteen is a production of Hourglass Design
	<div class="links">
		Thanks to the folks at <%= link_to 'Death to Stock', "http://deathtothestockphoto.com/" %> for beautiful backgrounds!
	</div>
</div>